* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;

}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.navigation svg {
  width: 95px;
  height: 44px;
  fill: #f50514;
}

.nav a {
  text-decoration: none;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

.nav a:hover {
  border-bottom: 2px solid red;
}

.nav li {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;

}

.t-1 {

  position: relative;
  color: black;


}

.t-1-title {
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

.t-1-btitle {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}


.t-1-btn {
  border: none;
  color: white;
  padding: 10px 50px;
  background: linear-gradient(to right, rgb(85, 80, 80) 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  cursor: pointer;
}

.t-1-btn:hover {
  background-position: left bottom;
}

.mid-1 {
  display: flex;
  margin: 60px 100px;
}

.m1-l {
  position: relative;
}

.m1-lt {
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.m1-lb {
  position: absolute;
  bottom: 0px;
  width: 97%;
  height: 40px;
  padding: 10px;
}

.m1-r {
  position: relative;
}

.m1-rt {
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.mid-2 {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
  margin-right: 120px;
  margin-top: -40px;
  margin-bottom: 30px;
}

.m2-l {
  position: relative;
  margin-right: 20px;
  overflow: hidden;

}

.m2-lt {
  position: absolute;
  bottom: 0px;
  color: white;
  line-height: 30px;

}



.m2-rt {
  line-height: 30px;
  position: absolute;
  bottom: 0px;
  color: white;
  line-height: 30px;
}

.m2-r {
  position: relative;
  overflow: hidden;

}

.m2-l img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
}

.m2-l:hover img {
  transform: scale(1.5);
}

.m2-r img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
}

.m2-r:hover img {
  transform: scale(1.5);
}

.mid-3 {
  background-color: black;
  padding-top: 40px;
}

.mid-3s {
  margin-inline: 250px;

}

.m3-t {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

.m3-br {
  border: 1px solid rgb(147, 153, 147);
}

.m3-12 {}

.m3-12 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.m3-12i {
  width: 60%;
  height: 60%;
}

.m3-12i {
  overflow: hidden;
}

.m3-12i img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.m3-12i:hover img {
  transform: scale(1.1);
}

.m3-2 {
  display: flex;
  justify-content: space-around;
}

.m3-21i {
  overflow: hidden;
}

.m3-21i img {
  width: 96%;
  height: auto;
  margin-right: 100px;
  transition: 0.5s all ease-in-out;
}

.m3-21i:hover img {
  transform: scale(1.1);
}

.m3-2 {
  display: flex;
  justify-content: space-between;
  height: 190px;
  width: 100%;
}

.m3-2i {
  overflow: hidden;
}

.m3-2i img:hover {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}

.m3-2i img {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  width: 290px;
}

.m3-2t {
  display: flex;
}

.m3-4 {
  display: flex;
}

.m3-4i {
  overflow: hidden;
}

.m3-4i img:hover {
  transform: scale(1.2);
}

.m3-4i img {
  width: 100%;
}

.support {
  margin-inline: 250px;
  display: flex;
  justify-content: space-between;
}

.sup-1 {
  display: flex;
}

.support-i {
  overflow: hidden;
  margin: 0 auto;
}

.support-i img {
  transition: 0.5s all ease-in-out;
}

.support-i:hover img {
  transform: scale(1.2);
}

.help-link {
  margin-inline: 250px;
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
}

.help-link a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.stay-1 {
  display: flex;
  color: white;
}

.s1-l {
  position: relative;
}

.s1-lt {
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.st-btn{
  margin-top: 90px;
  border: 1px solid white;
  color: white;
  padding: 8px 70px;
  background-color:rgba(255, 255, 255, 0);
}

.s1-r {
  position: relative;
}

.s1-rt {
  line-height: 15px;
  position: absolute;
  top: 10px;
  left: 20px;
  
}
.s1-rt input{
  background-color: rgba(255, 222, 173, 0);
  outline: none;
  border: 1px solid rgb(173, 168, 168);
  height: 30px;
}
.s1-rt input:hover{
  color: white;
    border: 1px solid white;
}
.phones {
  list-style-type: none;
  padding: 0;
}
.phones li {
  margin-bottom: 20px; /* Adjust as needed */
   color: rgb(173, 168, 168);
   font-size: 14px;
}
.phones li:first-child {
  font-size: 18px;
  color: white;
}
.phones li:hover {
  color: white;
  cursor: pointer;
}
.oneplus-services{
  display: flex;
  justify-content: space-between;
}
.p-com img{
  border: 1px solid white;
  background-color: white;
  margin-right: 5px;
}
.social i:hover{
  color: white;
  cursor: pointer;
}
.social{
  display: flex;
}
.social i{
  margin-right: 15px;
}
.partners{
  display: flex;
  justify-content: space-between;
}

.e1{
  display: flex;
  font-size: 11px;
}
.end{
  margin-top: 30px;
  color: rgb(180, 162, 162);
  display: flex;
  justify-content: space-between;
}
.e1 p{
  margin-right: 10px;
}
.end p:hover{
  color: white;
}